/* Estilos globais */
body {
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0; /* Remove a margem padrão do body */
  padding: 0; /* Remove o padding padrão do body */
  box-sizing: border-box; /* Inclui padding e border na largura e altura do elemento */
}

.header {
  height: 7.5vh; /* Altura fixa para header */
  width: calc(100% - 40px); /* Largura total menos o padding do body e a margem */
  margin: 10px auto; /* Espaçamento superior e inferior, e centralização horizontal */
  display: flex;
  align-items: center;
  padding: 0 20px; /* Padding interno */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12); /* Sombra */
  background-color: #2883a1; /* Cor de fundo para o header */
  color: white; /* Cor do texto no header */
  box-sizing: border-box; /* Inclui padding e border na largura e altura do elemento */
}

.sub-header {
  height: 7.5vh;
  width: calc(100% - 40px); /* Largura igual ao header */
  margin: 10px auto; /* Espaçamento superior e inferior, e centralização horizontal */
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  padding: 0 20px; /* Mesmo padding interno do header */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12); /* Mesma sombra do header */
  background-color: #ffffff; /* Cor de fundo */
  color: black; /* Cor do texto */
  box-sizing: border-box;
}

/* Botões */
.menu {
  width: 40px; /* Ajuste o tamanho conforme necessário */
  height: 40px; /* Ajuste o tamanho conforme necessário */
  background-color: #2883a1;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.limpar {
  position: absolute; /* Adicionado */
  right: 80px; /* Ajuste conforme necessário */
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
}

.pesquisar {
  position: absolute; /* Adicionado */
  right: 30px; /* Ajuste conforme necessário */
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
}

/* Filtro */
.filtro-container {
  display: flex;
  align-items: center;
  margin: 15px 0 20px; /* Ajuste conforme necessário */
  margin-left: auto; /* Alinha o filtro à direita */
}

.filtro-input {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

/* Estilos específicos para FancyButton */
.fancy-button i {
  font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
  color: #ffffff;
  padding: 0; /* Remove o padding para o botão de ícone */
  cursor: pointer;
}
