/* Estilos globais */
body {
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 7.5vh;
  width: calc(100% - 40px);
  margin: 10px auto;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  background-color: #2883a1;
  color: white;
  box-sizing: border-box;
}

.footer {
  height: 7.5vh;
  width: calc(100% - 40px);
  margin: 10px auto;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  background-color: #2883a1;
  color: white;
  box-sizing: border-box;
}

.sub-header {
  height: 7.5vh;
  width: calc(100% - 40px);
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  padding: 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  color: black;
  box-sizing: border-box;
}

/* Botões */
.menu {
  width: 40px;
  height: 40px;
  background-color: #2883a1;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.limpar {
  position: absolute;
  right: 80px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
}

.pesquisar {
  position: absolute;
  right: 30px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
}

/* Filtro */
.filtro-container {
  display: flex;
  align-items: center;
  margin: 15px 0 20px;
  margin-left: auto;
}

.filtro-input {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

/* Estilos específicos para FancyButton */
.fancy-button i {
  font-size: 24px;
  color: #ffffff;
  padding: 0;
  cursor: pointer;
}

input[type="radio"] {
  display: none; /* Esconde o input de rádio real */
}

.radio-label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: #e0e0e0;
  margin-right: 8px; /* Espaço entre o botão de rádio e o texto */
  cursor: pointer;
  vertical-align: middle;
}

input[type="radio"]:checked + .radio-label {
  background-color: #2883a1;
  color: white;
}

label {
  display: flex; /* Mantém os itens em linha */
  align-items: center; /* Alinha verticalmente os itens ao centro */
  margin-right: 20px; /* Espaçamento entre os grupos de rádio */
  cursor: pointer;
}

/* Ajusta o contêiner de radio buttons para alinhar à esquerda */
.sub-header {
  padding: 0 20px; /* Remove padding se necessário */
}

.sub-header > div {
  display: flex;
  align-items: center; /* Alinha verticalmente os itens ao centro */
  margin: 0; /* Remove qualquer margem adicional */
}

.filtro-texto {
  margin-right: 10px;
  color: #2883a1;
}

.grid-component {
  width: calc(100% - 40px);
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  color: black;
  box-sizing: border-box;
  width: calc;
}

.table-header-bobinas, .table-header-fardos {
  font-size: 12px; /* Tamanho da fonte ajustado */
  white-space: normal; /* Permite a quebra de linha */
  word-wrap: break-word; /* Garante a quebra de palavras longas */
  text-align: center; /* Alinha o texto ao centro */
  padding: 5px; /* Adiciona um padding para melhor aparência */
}

.table-header-bobinas {
  font-size: 14px; /* Tamanho maior para bobinas, se necessário */
}

/* Adiciona estilo básico para as linhas da tabela */
table {
  width: 100%;
  border-collapse: collapse; /* Remove espaçamentos entre células */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup-content {
  text-align: center;
}

.popup-content p {
  margin-bottom: 10px;
}

.popup-content button {
  padding: 5px 10px;
  background-color: #2883a1;
  color: white;
  border: none;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #0056b3;
}